html {
    background-color: #c0c0c0
}

#container {
    background-color: #e0e0e0
}

.tab_button {
    border: 0 none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

table {
    border-collapse: collapse;
    padding: 10px;
}

th {
    border: solid #202020 3px;
    padding: 0;
}

td {
    border: solid #404040 2px;
    padding: 0;
} m          

th,
td {
    font-weight: normal;
    text-align: center;
    box-sizing: border-box;
}

span {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    width: 100%;
    margin: auto;
}

.BLANK {
    visibility: hidden;
    border: 0;
}

.COLOR {
    background-color: #d0d0d0;
}

.NUM,
table * {
    background-color: #d0c0c0;
}

.ASIN,
.LIT {
    filter: hue-rotate(40deg);
}

.PREP {
    filter: hue-rotate(80deg);
}

.LOC,
.LEGEND {
    filter: hue-rotate(120deg);
}

.MEANING {
    filter: hue-rotate(160deg);
}

.VERB  {
    filter: hue-rotate(200deg);
}

.GLYPH {
    filter: hue-rotate(240deg);
}

.C1 {
    filter: hue-rotate(280deg);
}

.C2 {
    filter: hue-rotate(290deg);
}

.C3 {
    filter: hue-rotate(300deg);
}

.C4 {
    filter: hue-rotate(310deg);
}

.C5 {
    filter: hue-rotate(320deg);
}

.C6 {
    filter: hue-rotate(330deg);
}

.C7 {
    filter: hue-rotate(340deg);
}

.C8 {
    filter: hue-rotate(350deg);
}

.HDR  {
    filter: brightness(70%);
}

.ODDROW:not(.COLOR):not(.HDR) {
    filter: brightness(100%);
}

.EVENROW:not(.COLOR):not(.HDR) {
    filter: brightness(80%);
}

#pro-glyph,
#glyphy {
    min-height: 50px;
    margin-left: 10px;
}

#pro-eng,
#pro-lit,
#math,
#lit {
    min-height: 3ex;
    margin: 20px;
}

#pro-glyph > div,
#glyphy > div {
    padding: 4px !important;
}

#count,
#count2 {
    margin-top: 25px;
    margin-bottom: 25px;
}

tr:has(>td>.solo:not(:checked)) > td > input[type="radio"] {
    display: none;
}

