html {
    background-color: #c0c0d0
}

.tab_button {
    border: 0 none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#glyphmap {
    padding: 10px;
}

    #glyphmap div {
        margin: auto;
    }

td {
    border: solid #404040 2px;
    text-align: center;
}

#glyphmap span {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    width: 100%;
}

#glyphmap td,
#glyphmap th {
    padding: 4px;
}

.C1,.C2,.C3,.C4,.C5,.C6,.C7,.C8 {
    background-color: blue;
}

.VERB  {
    background-color: red;
}

.HDR {
    border: solid #202020 4px;
    filter: brightness(50%);
}

.ODDROW {
    filter: brightness(100%);
}

.EVENROW {
    filter: brightness(80%);
}

#pro-glyph,
#glyphy {
    min-height: 50px;
    margin-left: 10px;
}

#pro-eng,
#pro-lit,
#math,
#lit {
    min-height: 3ex;
    margin: 20px;
}

#pro-glyph > div,
#glyphy > div {
    padding: 4px !important;
}

#count,
#count2 {
    margin-top: 25px;
    margin-bottom: 25px;
}

table {
    border-collapse: collapse;
}

th {
    font-weight: normal;
}

tr:has(>td>.solo:not(:checked)) > td > input[type="radio"] {
    display: none;
}

